*
    box-sizing: border-box
    padding: 0px
    margin: 0px
    scroll-behavior: smooth
html
    height: 100%
body
    height: 100%
    background-color: #e2e2e2
    &:has(.modal)
        overflow: hidden
#root
    height: 100%
.container
    width: 1140px
    margin: 0 auto
    grid-area: main-content
.container-fluid
    width: 100%
    height: 100%
    display: grid
    grid-template-areas: "navigation content"
    grid-template-columns: 230px auto
    grid-template-rows: auto
    column-gap: 50px
footer
    grid-area: footer
.content
    grid-area: content
.wrapper
    height: 100%
    display: grid
    grid-template-areas: "header header header" "main-content main-content main-content" "footer footer footer"
    grid-template-columns: 1fr 3fr 1fr
    grid-template-rows: 60px auto 60px
@import '_header.sass'
@import '_navigation.sass'
@import '_profile.sass'
@import '_posts.sass'
@import '_post.sass'
@import '_messages.sass'
@import '_chat-partner.sass'
@import '_message.sass'
@import '_createNewPost.sass'
@import '_friends.sass'
@import '_friend.sass'
@import '_preloader.sass'
@import '_login.sass'
@import '_exitBtn.sass'